@{
    ViewData["Title"] = "Home Page";
}

@model IList<ECommerce.Shared.ProductVm>

@await Component.InvokeAsync("Category")

<head>
    <link rel="stylesheet" href="~/css/IndexStyle.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/JavaScript.js"></script>
</head>

<div class="container" style="background:#444">
    <div class="title-block">
        <p>Trending Games</p>
        <button id="all">View All</button>
    </div>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-3 item">
                <a class="cover-img" asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId">
                    <p class="card-brand">@product.BrandId</p>
                    <img class="card-img" src="@product.Images" alt="Caption" />
                    <p class="card-price">|@product.Price$</p>
                </a>
                <br />
                <br />
                <p class="card-title">@product.ProductName</p>

            </div>
        }
    </div>
</div>
