.item {
    display: inline-block;
    position: relative;
    border-radius: 8px;
    vertical-align: top;
}

.main-bg {
    background-color: #444;
    border-radius: 8px;
    position:relative;
    padding-bottom: 30px;
}


.cover-img {
    position: relative;
    display: inline-block;
    transition: .1s;
    width: 100%;
}
.title-block{
    display:flex;
    justify-content:space-between;
    font-size:17px;
    font-weight:bold;
    color:white;

}
.card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    color: white;
}
.card-brand {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}
.card-price {
    color: #fff;
    bottom: 4px;
    right: 9px;
    position: absolute;
    font-size: 19px;
    font-weight: 700;
    text-shadow: 0 0 5px #000;
}
.card-img {
    transition: transform .2s;
}
.card-img:hover {
    transform: scale(1.1);
}
#next{
    position:absolute;
    right:10px;
    bottom:5px;
    color: azure;
    border-radius: 8px;
    background:teal;
}
#all {
    margin-top:5px;
    height:30px;
    color: azure;
    border-radius: 8px;
    background: teal;
}   

